:root {
    --main-font:'Open Sans', sans-serif;
    --second-font: 'Raleway', sans-serif;
    --blue-color: #08A6E4;
    --red-color: #FB3B64;
    --green-color: #55DFB4;
    --gray-dark: #707070;
    --gray-medium: #95989A;
    --gray-light: #A5A5A5;
}

* {
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header{
    box-shadow: 0px 3px 6px #00000029;
    font-family: var(--main-font);
}

.header__container {
    max-width: 1352px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF 0 0 no-repeat padding-box;
    opacity: 1;
}

.header__logo {
    text-align: left;
    font-size: 32px;
    letter-spacing: 0;
    color: var(--blue-color);
    opacity: 1;
    font-weight: lighter;
    text-decoration: none;
    padding-left: 40px;
}

.header__container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__nav {
    padding-right: 40px;
}

.nav__link a {
    text-decoration: none;
    border-bottom: 4px solid transparent;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 3.28px;
    color: var(--gray-light);
    opacity: 1;
    font-family: var(--second-font);
    margin-right: 60px;
    padding: 29px 0;
}

.nav__link a:hover {
    border-bottom: 4px solid var(--blue-color);
    color: #000000;
}
/*.................................................................................................END OF  HEADER....*/
.shop__container {
    padding-top: 130px;
    height: auto;
    max-width: 1352px;
    margin: 0 auto;
    text-align: center;
}

.shop__title {
    text-align: center;
    font-size: 49px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    font-family: var(--second-font);
    font-weight: 400;
}

.shop__text {
    text-align: center;
    font-family: var(--second-font);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-top: 20px;
    padding-bottom: 38px;
}

.shop__btn {
    text-decoration: none;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    opacity: 1;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    font-family: var(--main-font);
    letter-spacing: 0;
    color: #FFFFFF;
    background-color: var(--blue-color);
    display: inline-block;
    padding: 22px 157px;
}

.shop__img {
    height: 600px;
    background-image: url(../images/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
/*..................................................................................END OF SHOP CONTAINER SECTION....*/
.ad__container {
    height: 531px;
    max-width: 1352px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ad__text {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    font-family: var(--second-font);
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-bottom: 115px;
    margin-top: 50px;
}

.add__boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    height: 1000px;
}

.ad__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 114px;
    height: 160px;
    font-size: 50px;
}

.ad__box__exception {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 114px;
    height: 140px;
    font-size: 50px;
}

.ad__dots {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    position: relative;
    left: 25px;
}

.ad__icons {
    background-repeat: no-repeat;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 25px;
}

.ad__icons__exception {
    background-repeat: no-repeat;
    position: absolute;
    width: 70px;
    height: 60px;
    left: 20px;
    top: 10px;
}

.ad__red {
    background-color: var(--red-color);
}

.ad__person {
    background-image: url(../images/Person.svg);
}

.ad__blue {
    background-color: var(--blue-color);
}

.ad__eye{
    background-image: url(../images/Eye.svg);
}

.ad__green{
    background-color: var(--green-color);
}

.ad__catalog {
    background-image: url(../images/Catalog.svg);
}

.ad__numbers {
    font-weight: 800;
    font-size: 20px;
    font-family: var(--second-font);
    letter-spacing: 5.96px;
    color: #000000;
    opacity: 1;
}

.ad__info {
    font-weight: 400;
    font-size: 19px;
    font-family: var(--second-font);
    color: var(--gray-light);
    opacity: 1;
}

.ad__info__exception{
    font-weight: 400;
    font-size: 19px;
    font-family: var(--second-font);
    color: var(--gray-light);
    opacity: 1;
    width: 130px;
}
/*..............................................................................................END OF SECTION AD....*/
.information {
    height: 1395px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}

.info__position {
    height: 1185px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info__first {
    width: 1124px;
    height: 370px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;

}

.info__text {
    width: 533px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.info__title {
    font-size: 28px;
    font-family: var(--second-font);
    font-weight: 600;
    letter-spacing: 0;
    color: #000000;
    width: auto;
    height: 36px;
    text-align: left;
    padding-top: 80px;
}

.info__paragraph {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    width: 400px;
    height:66px;
    text-align: left;
    letter-spacing: 1px;

}

.info__paragraph::after {
    content:"";
    display: block;
    border-bottom: 4px solid var(--red-color);
    padding-top: 70px;
    width: 280px;
}

.info__elements{
    position: relative;
    width: 433px;
    height: 294px;
    display: flex;
    align-items: flex-end;
    margin-top: 38px;
}

.info__pictures {
    background-image: url(../images/Macbook.png);
    width: 386px;
    height: 216px;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;


}

.info__figure {
    width: 170px;
    height: 170px;
    background-color: var(--red-color);
    position: absolute;
    border-radius: 41px;
    left: 220px;
    margin-bottom: 80px;
    z-index: 0;
    transform: rotate(45deg);
}
/*...................................................................koniec pierwszej  czesci secji 3*/


.mobile__section {
    width: 1124px;
    height: 370px;
    background-color: white;
    display: flex;
}

.mobile__info {
    width: 426px;
    height: 328px;
    margin-left: 70px;
    margin-top: 12px;
    margin-right: 192px;
}

.mobile__text {
    width: 416px;
    height: 224px;
    background-color: darkseagreen;
    margin-top: 75px;
}

.mobile__pictures {
    background-image: url(../images/iPhone.png);
    background-position: center;
    background-size: cover;
    width: 426px;
    height: 328px;
    position: absolute;
    z-index: 1;
}

.mobile__figure{
    width: 320px;
    height: 320px;
    background-color: var(--blue-color);
    position: absolute;
    border-radius: 50%;
    z-index: 0;
}