:root {
    --main-font:'Open Sans', sans-serif;
    --second-font: 'Raleway', sans-serif;
    --blue-color: #08A6E4;
    --red-color: #FB3B64;
    --green-color: #55DFB4;
    --gray-dark: #707070;
    --gray-medium: #95989A;
    --gray-light: #A5A5A5;

}

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
    font-family: sans-serif;
}

header {
    box-shadow: 0 3px 6px #00000029;
    font-family: var(--main-font);
}

.header__container {
    max-width: 1352px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF 0 0 no-repeat padding-box;
    opacity: 1;
}

.header__logo {
    text-align: left;
    font-size: 2em;
    letter-spacing: 0;
    color: var(--blue-color);
    opacity: 1;
    font-weight: lighter;
    text-decoration: none;
    padding-left: 40px;
}

.header__container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__nav {
    padding-right: 40px;
}

.nav__link a {
    text-decoration: none;
    border-bottom: 4px solid transparent;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 3.28px;
    color: var(--gray-light);
    opacity: 1;
    font-family: var(--second-font);
    margin-right: 60px;
    padding: 29px 0;
}

.nav__link a:hover {
    border-bottom: 4px solid var(--blue-color);
    color: #000000;
}
/*.........................................................................................END OF 1 SECTION....*/
.shop__container {
    padding-top: 130px;
    height: auto;
    max-width: 1352px;
    margin: 0 auto;
    text-align: center;
}

.shop__title {
    text-align: center;
    font-size: 49px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    font-family: var(--second-font);
    font-weight: 400;
}

.shop__text {
    text-align: center;
    font-family: var(--second-font);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-top: 20px;
    padding-bottom: 38px;
}

.shop__btn {
    text-decoration: none;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    opacity: 1;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    font-family: var(--main-font);
    letter-spacing: 0;
    color: #FFFFFF;
    background-color: var(--blue-color);
    display: inline-block;
    padding: 22px 157px;
}

.shop__img {
    height: 600px;
    background-image: url(../images/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
/*........................................................................................END OF 2 SECTION ....*/
.ad__container {
    height: 531px;
    max-width: 1352px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ad__text {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    font-family: var(--second-font);
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-bottom: 115px;
    margin-top: 50px;
}

.add__boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    height: 1000px;
}

.ad__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 114px;
    height: 160px;
    font-size: 50px;
}

.ad__box__exception {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 114px;
    height: 140px;
    font-size: 50px;
}

.ad__dots {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    position: relative;
    left: 25px;
}

.ad__icons {
    background-repeat: no-repeat;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 25px;
}

.ad__icons__exception {
    background-repeat: no-repeat;
    position: absolute;
    width: 70px;
    height: 60px;
    left: 20px;
    top: 10px;
}

.ad__red {
    background-color: var(--red-color);
}

.ad__person {
    background-image: url(../images/Person.svg);
}

.ad__blue {
    background-color: var(--blue-color);
}

.ad__eye{
    background-image: url(../images/Eye.svg);
}

.ad__green{
    background-color: var(--green-color);
}

.ad__catalog {
    background-image: url(../images/Catalog.svg);
}

.ad__numbers {
    font-weight: 800;
    font-size: 20px;
    font-family: var(--second-font);
    letter-spacing: 5.96px;
    color: #000000;
    opacity: 1;
}

.ad__info {
    font-weight: 400;
    font-size: 19px;
    font-family: var(--second-font);
    color: var(--gray-light);
    opacity: 1;
}

.ad__info__exception{
    font-weight: 400;
    font-size: 19px;
    font-family: var(--second-font);
    color: var(--gray-light);
    opacity: 1;
    width: 130px;
}
/*.........................................................................................END OF 3 SECTION ....*/
.information__container {
    height: 1395px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}

.info__position {
    height: 1185px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info__first {
    width: 1124px;
    height: 370px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
}

.info__text {
    width: 533px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.info__title {
    font-size: 28px;
    font-family: var(--second-font);
    font-weight: 400;
    letter-spacing: 0;
    color: #000000;
    width: auto;
    height: 36px;
    text-align: left;
    padding-top: 80px;
}

.info__paragraph {
    font-family: var(--main-font);
    font-size: 13px;
    font-weight: 400;
    width: 400px;
    height:66px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5;
}

.info__paragraph::after {
    content:"";
    display: block;
    border-bottom: 4px solid var(--red-color);
    padding-top: 70px;
    width: 310px;
}

.info__elements{
    position: relative;
    width: 433px;
    height: 294px;
    display: flex;
    align-items: flex-end;
    margin-top: 38px;
}

.info__pictures {
    background-image: url(../images/Macbook.png);
    width: 386px;
    height: 216px;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.info__figure {
    width: 170px;
    height: 170px;
    background-color: var(--red-color);
    position: absolute;
    border-radius: 41px;
    left: 220px;
    margin-bottom: 80px;
    z-index: 0;
    transform: rotate(45deg);
}
/*................................section 4 second part ......................................................*/


.info__second {
    width: 1124px;
    height: 370px;
    background-color: white;
    display: flex;
    border-radius: 5px;
}

.mobile__info {
    width: 426px;
    height: 328px;
    margin-left: 70px;
    margin-top: 12px;
    margin-right: 192px;
    position: relative;
}

.mobile__pictures {
    background-image: url(../images/iPhone.png);
    background-position: center;
    background-size: cover;
    width: 426px;
    height: 328px;
    position: absolute;
    z-index: 1;
    top: 15px;
}

.mobile__figure{
    width: 320px;
    height: 320px;
    background-color: var(--blue-color);
    position: absolute;
    border-radius: 50%;
    z-index: 0;
}

.mobile__text {
    width: 416px;
    height: 224px;
    margin-top: 75px;
    margin-right: 50px;
}

.mobile__title {
    font-size: 28px;
    font-family: var(--second-font);
    font-weight: 400;
    color: #000000;
    width: 236px;
    text-align: left;
    line-height: 1.5;
}

.mobile__paragraph {
    font-family: var(--main-font);
    font-size: 13px;
    font-weight: 400;
    width: 400px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-top: 30px;
}

.mobile__paragraph::after {
    content: "";
    display: block;
    border-bottom: 4px solid var(--blue-color);
    padding-top: 60px;
    width: 310px;
}
/*....................................section 4 part  third...................................................*/
.info__third {
    width: 1124px;
    height: 370px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.trumpet__text {
    width: 623px;
    height: 370px;
    background-color: white;
    border-radius: 5px;
}

.trumpet__title {
    font-size: 28px;
    font-family: var(--second-font);
    font-weight: 400;
    color: #000000;
    width: 304px;
    text-align: left;
    line-height: 1.5;
    padding-top: 75px;
    margin-left: 35px;
}

.trumpet__paragraph {
    font-family: var(--main-font);
    font-size: 13px;
    font-weight: 400;
    width: 500px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-top: 30px;
    margin-left: 35px;
}

.trumpet__paragraph::after {
    content: "";
    display: block;
    border-bottom: 4px solid var(--green-color);
    padding-top: 60px;
    width: 310px;
}

.trumpet__green__box {
    width: 440px;
    height: 370px;
    background-color: var(--green-color);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.trumpet__picture {
    width: 296px;
    height: 207px;
    background-image: url(../images/Trumpet.png);
    background-position: center;
    background-size: cover;
    margin-top: 98px;
    margin-left: 62px;
}
/*.........................................................................................END OF 4 SECTION ....*/

.pricing__container {
    height: 610px;
    max-width: 1266px;
    margin: 0 auto;
    text-align: center;
    margin-top: 106px;
}

.pricing__header {
    width: 1266px;
    height: 36px;
    font-size: 36px;
    font-family: var(--second-font);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.pricing__offers {

    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    margin-top: 71px;
}

.pricing__box {
    width: 372px;
    height: 461px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

.red__box {
    border:1px solid var(--red-color);
}

.pricing__offers .blue__box {
    border: 1px solid var(--blue-color);
    width: 405px;
    height: 500px;
    margin-top: -20px;
    box-shadow: 5px 10px 27px #07ACE629;

}

.green__box {
    border: 1px solid var(--green-color);
}

.pricing__box__title {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 21px;
    margin-top: 38px;

}

.pricing__box__price__red {
    font-family: var(--main-font);
    font-size: 46px;
    font-weight: 300;
    margin-top: 30px;
    color: var(--red-color);
}

.pricing__box__price__blue {
    font-family: var(--main-font);
    font-size: 46px;
    font-weight: 300;
    margin-top: 30px;
    color: var(--blue-color);
}

.pricing__box__price__green {
    font-family: var(--main-font);
    font-size: 46px;
    font-weight: 300;
    margin-top: 30px;
    color: var(--green-color);
}

.pricing__section__btn {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 23px;
    color: white;
    font-family: var(--main-font);
    text-transform: uppercase;
    display: inline-block;
    margin-top: 85px;
}

.pricing__section__btn__blue {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 23px;
    color: white;
    font-family: var(--main-font);
    text-transform: uppercase;
    display: inline-block;
    margin-top: 120px;
}

.pricing__section__btn .red__btn {
    background-color: var(--red-color);
    padding: 16px 57px ;
    text-decoration: none;
    border-radius: 23px;
    color: white;
}

.pricing__section__btn__blue .blue__btn {
    background-color: var(--blue-color);
    padding: 16px 57px;
    text-decoration: none;
    border-radius: 23px;
    color: white;
}

.pricing__section__btn .green__btn {
    background-color: var(--green-color);
    padding: 16px 57px;
    text-decoration: none;
    border-radius: 23px;
    color: white;
}

.pricing__box__list {


    line-height: 2.5;
    font-size: 14px;
    font-family: var(--second_font);
    margin-top: 60px  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing__box__list ul li {
    list-style-image: url(../images/Ckechmark-1.svg);
}

.list__blue ul li:last-child {
    list-style-image: url(../images/Close.svg);
}

.list__red ul li:nth-child(1n+4){
    list-style-image: url(../images/Close.svg);
}

/*.........................................................................................END OF 5 SECTION....*/
.form__container {
    height: 372px ;
    width: 1352px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 163px;
}

.form__content {
    height: 100%;
    width: 896px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__info {
    height: 157px;
    width: 335px;
}

.main__form {
    width: 440px;
    height: 100%;
}

.form__title {
    font-family: var(--second-font);
    font-size: 48px;
    font-weight: 400;
}

.form__text {
    font-family: var(--main-font);
    font-size: 14px;
    margin-top: 22px;
    font-weight: 400;
}

.form__icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-light);
    margin-top: 42px;
    width: 335px;
}

.form__email {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form__email::before {
    content: url(../images/MailIcon.svg);
    width: 27px;
    height: 27px;
    padding-right: 10px;
}

.form__phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form__phone::before {
    content: url(../images/PhoneIcon.svg);
    width: 27px;
    height: 27px;
    padding-right: 10px;
}
/*......................................FORM FILD.............................................................*/
.main__form .form__field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main__form .form__field label {
    font-weight: 600;
    font-size: 11px;
    margin-bottom: 4px;
    color: var(--blue-color);
}
.main__form .form__field .form__input {
    font-size: 14px;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid var(--gray-light);
}

.form__enclosure{
    font-size: 12px;
    padding-top: 30px;
    color: var(--gray-dark);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.form__box__checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default checkbox */
.form__box__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

/* Create a custom checkbox */


.checkmark__form {
    position: absolute;
    height: 11px;
    width: 11px;
    background-image: url(../images/Checkmark.svg);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    border: 1px solid var(--gray-light);

}

/* On mouse-over, add a grey background color */
.form__box__checkbox:hover input ~ .checkmark {
    background-color: #ccc;
    border-radius: 6px;

}

/* When the checkbox is checked, add a blue background */
.form__box__checkbox input:checked ~ .checkmark {
    content: "";
    position: absolute;
    display: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark__form:after {
    content: "";
    position: absolute;
    display: none;

}

/* Show the checkmark when checked */
.form__box__checkbox input:checked ~ .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form__paragraph{
    padding-left: 35px;
}

.main__form .form__button {
    background-color: var(--blue-color);
    display: inline-block;
    box-shadow: 5px 10px 14px #07ACE629;
    padding: 20px 97px;
    color: white;
    border-radius: 35px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 200px;
}
/*......................................................................................END OF 6 SECTION ....*/

.footer {
    box-shadow: 0px -5px 40px #00000029;
    font-family: var(--main-font);
}

.footer__container {
    max-width: 1352px;
    height: 89px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF 0 0 no-repeat padding-box;
    opacity: 1;
}

.footer .footer__container .footer__logo .rights_text {
    font-size: 11px;
    color: var(--gray-light);
    padding-top: 6px;
    padding-left: 40px;
}

.footer .footer__container .footer__icon {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
}

.footer .footer__container .footer__icon .tweeter__icon {
    background-image: url(../images/Twitter.svg);
    width: 24px;
    height: 24px;
}

.footer .footer__container .footer__icon .facebook__icon {
    background-image: url(../images/Facebook.svg);
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
